html{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    scroll-behavior: smooth;
}
/*-----------------REUSEABLR-----------*/
h1{
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 400;
    letter-spacing: 10px;
    word-spacing: 1px;
    line-height: 100px;
    margin-bottom: 50px;
    color: darkkhaki;
}

.row{
    max-width: 1240px;
    margin: 0 auto;
    }

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(4, 75, 39);
    font-size: 100%;
    font-weight: 700;
    text-align: center;
}

h2{
    color: rgb(4, 75, 39);
    font-size: 180%;
    font-weight: 700;
    text-align: center;
  }

  h2:after{
    content: " ";
    display: block;
    width: auto;
    height: 3px;
    background-color: rgb(4, 75, 39);;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 92%;
    margin-left: 5%;
    line-height: 140%;
  }

  section{
    padding: 50px;
  }
  
/* ------------------HEADER -----------------*/
header{
    background-image: linear-gradient(to right top ,rgba(4, 83, 60,0.6),rgba(4, 75, 39, 0.7)), url("../resource/png/background4.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo{
    width: 200px;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-right: 30px;
    margin-top: 50px;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: border-bottom 1s;
    padding: 3px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid;
}

.main-nav li{
    display: inline-block;
    margin-right: 30px;
}

.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    text-decoration: none;
    color: darkkhaki;
    background-color: black;
    padding: 15px 15px;
    border-radius: 20px;
    display: inline-block;
    width: 190px;
    text-align: center;
    transition: all .3s;
    margin-left: 15px;
}

.btn:hover,
.btn:active{
    background-color: white;
}

/*----------ABOUT SECTION----------*/

.profilepic{
    float: left;
    border-radius: 17px;
}

.profile{
    text-align: right;
    color: #265077 ;
}

section{
    background-color: none;
}

/*-------CONTACT---------*/
.contact{
    background-image: linear-gradient(to right top ,rgba(4, 83, 60,0.6),rgba(4, 75, 39, 0.7)), url("../resource/png/background5.jpg");
    background-size: cover;
    background-position: center;
    height: 15vh;
    background-attachment: fixed;
    color: white;
    text-decoration: none;
}

a:link{
    color: white;
}